button {
    font-family: inherit;
    /* width: 327px; */
    width: 100%;
    height: 57px;
}

form {
    /* width: 327px; */
}

ul {
   list-style-type: none; 
}

li {
    position: relative;
    
}

li::before {
    content: "";
    display: inline-block;
    height: 20px; /* Adjust based on your needs */
    width: 20px; /* Adjust based on your needs */
    background: url('/assets/images/icon-list.svg') no-repeat center center;
    background-size: contain;
    position: absolute;
    left: -2rem;
}

#success-menu {
    display: none;
}

.pb-decendents {
    > * {
        padding-bottom: .50rem; /* Adjust as needed */
    }
}

.fs-custom-14 {
    font-size: 14px;
}